<h1>Post Form</h1>
<%= form_tag posts_path do %>
  <label>Post title:</label><br>
   <input id="title" type="text" name="post[title]" value="">

  <label>Post description:</label><br>
  <textarea id="description" name="post[description]"></textarea><br>

   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Submit Post">
<% end %>
